#purple {
    background: #B98ED7;
}

#pink {
    background: #E75480;
}

#pink img {
    width: 100%;
    height: 100%;
}

.icon-box {
    width: 33.33%;
}

i {
    color: black;
}

.bg-odd {
    background: #333333;
}

.bg-even {
    background: #FACA08;
}

.section-item {
    width: 25%;
    padding: 3%;
    text-align: center;
    color: white;
}

.section-item i {
    color: white;
}


.bg-even i {
    color: black;
}

#about-me {
}

/*

#facebook-icon {
   color: #3D5A98;
}

#instagram-icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin-icon {
    color: #007BB5;
}
*/