#purple {
    background: #B98ED7;
}

#pink {
    /* background: #E75480; 
    text-align: center;*/
    padding: 0;
}

#pink img {
    width: 100%;
    height: 100%;
    
}

.icon-box {
    width: 33.33%;
}

i {
    color: black;
}

.bg-odd {
    background: #333333;
}

.bg-even {
    background: #FACA08;
}

.section-item {
    width: 25%;
    padding: 3%;
    text-align: center;
    color: white;
    height: auto;
}

.section-item i {
    color: white;
}


.bg-even i {
    color: black;
}

#about-me {
}

.badges {
    margin: 0.5%;
}

.badge-large {
    font-size: 1.2em;
    padding: 1%;
    margin: 0.5%;
}

.badge-medium {
    font-size: 1em;
    padding: 1%;
    margin: 0.5%;
}

.badge-medium {
    font-size: 0.8em;
    padding: 1%;
    margin: 0.5%;
}

.qa {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

.question, .answer {
    display: inline-block;
    width: 50%;
    padding: 1%;
}

.question {
    font-weight: 900;
    text-align: right;
}

.asnwer {

}

/*

#facebook-icon {
   color: #3D5A98;
}

#instagram-icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin-icon {
    color: #007BB5;
}
*/


@media(min-width: 1199px) {
    .section-item {
        padding: 2em !important;
    }
}